* {
  margin: 0;
  padding: 0;
font-family:monospace;
}

.header {
  width: 100%;
  height: 10%;
  display:flex;
background:linear-gradient(white,aqua);
}

.logo {
  width: 25%;
  height: 100%;
background:linear-gradient(white,aqua);
}

.logo a {
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
}

.logo a img {
  width: auto;
  height: auto;
}

.menu {
  width: 75%;
  height: 100%;
  background:linear-gradient(white,aqua);
}

.menu .menubar {
  height: 100%;
  width: 100%; 
}

.menu .menubar ul {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.menubar ul li {
  list-style: none;
  padding-bottom: 3%;
}

.menubar ul li a {
  text-decoration: none;
  color: red;
  font-size: 1.5vw;
  height:6%;
  position: absolute;
}
.menu .menubar ul .underline_current > a{
  text-decoration:underline red;
}

.menu .mobilebar {
  height: 100%;
  width: 0%;
}

.menu .menubar ul li .submenu {
  display: none;
  position: absolute;
  background:linear-gradient(to bottom,white,aqua);
  box-shadow:5px grey;
  z-index: 1;
  height:auto;
  width:auto;
  top:10%;
}

.menu .menubar ul li .submenu li {
  list-style: none;
  padding: 5px 10px;
  height:100%;
 
}

.menu .menubar ul li .submenu li a{
  color: black;
  font-size: 1vw;
  text-decoration: none;
  position: relative; 
  display:block;
}

.menubar ul li:hover .submenu {
  display: block;
}
